<template name="editEvent">
<div class="modal modal-event">
  <h3>Event</h3>
  <div class="modal-body" id="">
    <div class="info">
      <label for="title">Title</label><input type="text" name="title" value="{{evt.title}}" id="title">
        <label for="content">Description</label><input type="text" name="content" value="{{evt.content}}" id="content">
    </div>
    <div class="go-location">
      <label for="title">Location</label>
    {{#if markerPlaced}}<a href="#" class="center">Show on map</a>{{/if}}
    </div>
  </div>
  {{#unless markerPlaced}}<img id="draggable" src='/pin.png'/>{{/unless}}
  <div class="modal-footer">
  <a href="#" class="btn btn-success save">Save</a>
  <a href="#" class="btn btn delete">Delete</a>
  <a href="#" class="btn cancel" data-dismiss="modal">Cancel</a>
</div>
</div>
</template>
