<template name="editEvent">
  <div id="editEvent-modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close cancel" data-dismiss="modal" aria-hidden="true">×</button>
          <h4><span id="editable-title" data-type="text" data-placeholder="Enter text" data-rows="1" class="editable modal-title">{{evt.title}}</span></h4>
        </div>
        <div class="modal-body">
          <span id="event-content" class="editable" data-type="textarea" data-placeholder="Enter text" data-emptytext="Click to enter a description" data-rows="4">{{evt.content}}</span>

            {{#if markerPlaced}}<div class="go-location"><a href="#" class="center">Show on map</a></div>{{/if}}
            <br/>  <br/>

                <div class="col-sm-6"><input id="image-field" type="text" value="" placeholder="place image link here"/></div>
                <div class="col-sm-6"><button type="button" class="btn btn-info save-image">Add image</button></div>
            <br/><br/>

            <div id="myCarousel" class="carousel slide">
              <ol class="carousel-indicators">
                {{#each images}}
                  <li data-target="#myCarousel" data-slide-to="{{index}}" class="{{active}}"></li>
                {{/each}}
              </ol>
              <div class="carousel-inner">
                {{#each images}}
                  <div class="item {{active}}">
                      <a href="{{url}}" target="_blank">
                          <img src="{{url}}" alt="">
                      </a>
                  </div>
                  {{/each}}
              </div>
              <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger delete">Delete</button>
          <button type="button" class="btn btn-default cancel">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  {{#if hasEditRights}}
    {{#unless markerPlaced}}<img id="draggable" src='/pin.png'/>{{/unless}}
  {{/if}}
</template>
