<template name="editEvent">
  <div id="editEvent-modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close cancel" data-dismiss="modal" aria-hidden="true">×</button>
          <h4><span id="editable-title" data-type="text" data-placeholder="Enter text" data-rows="1" class="editable modal-title">{{evt.title}}</span></h4>
        </div>
        <div class="modal-body">
          <span id="event-content" class="editable" data-type="textarea" data-placeholder="Enter text" data-emptytext="Click to enter a description" data-rows="4">{{evt.content}}</span>

            {{#if markerPlaced}}<div class="go-location"><a href="#" class="center">Show on map</a></div>{{/if}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger delete">Delete</button>
          <button type="button" class="btn btn-default cancel">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  {{#if hasEditRights}}
    {{#unless markerPlaced}}<img id="draggable" src='/pin.png'/>{{/unless}}
  {{/if}}
</template>
